.portrait {
    width: 180px;
}

.big-icons {
    margin-bottom: 16px;
}

.big-icons a {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.big-icons a:hover {
    color: #aaa;
}

.big-icons i {
    font-size: 42px;
}

.action-btn {
    margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
    .action-btn {
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .useful-links {
        display: none;
    }
}

.brand-logo {
    -webkit-border-radius: 128px;
    -moz-border-radius: 128px;
    -ms-border-radius: 128px;
    -o-border-radius: 128px;
    border-radius: 128px;
}

.portfolio-list li {
    color: #939da5;
    margin-bottom: 8px;
}

.portfolio-list li a {
    color: #606a82;
    font-weight: bold;
}

.portfolio-list li a:hover {
    color: red;
}

.project-description ul {
    list-style-type: square;
    list-style-position: inside;
    margin-left: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.project-description li span {
    margin-left: -16px;
}

.call-to-action {
    font-size: 18px;
    color: #666;
    text-decoration: underline;
    font-weight: bold;
}

.call-to-action a:hover,
{
    color: red;
}

.call-to-action a:active,
.call-to-action a:visited {
    color: #666;
}

.content p strong {
    color: #666;
}
